:root {

    --text: #f6ebbe;
    --h1: #c71f20;
    --h2: #d65d0f;
    --h3: #d49721;
    --h4: #96951b;
    --main-background: #282828;
    --sidebar-background: #1a1a1a;
    --strong: #f8c463;
    --code: #ecd77f;
    --link-text: #a84e18;

    /* toolbar background color */
    --ck-custom-background: var(--main-background);
    /* main background color */
    --ck-color-base-background: var(--main-background);
    /* Border, usually set to the same as background */
    --ck-color-base-border: var(--main-background);
    --ck-color-mention-text: var(--link-text);
}

.maintext {
    color: var(--text);
}

input[type="checkbox"] {
    accent-color: var(--h3);
}

body {
    background-color: var(--main-background);
}

.ck-content a {
    color: var(--ck-color-mention-text);
  }

p strong {
    color: var(--strong);
}


h1 {
    color: var(--h1);
}

h2 {
    color: var(--h2);
}

h3 {
    color: var(--h3);
}

h4 {
    color: var(--h4);
}

.mainbox {
    background-color: var(--main-background);
}

#nav-pane {
    background-color: var(--sidebar-background);
}

.ck-content pre code {
    color: var(--code);
  }