:root {
    --font: arial;

    --text: #f6ebbe;
    --h1: #c71f20;
    --h2: #d65d0f;
    --h3: #d49721;
    --h4: #96951b;
    --main-background: #282828;
    --sidebar-background: #1a1a1a;
    --code-background: #1a1a1a;
    --strong: #f8c463;
    --em: #a84e18;
    --code: #ecd77f;
    --link-text: #a84e18;

}

