:root {

    --text: #242424;
    --h1: #a00810;
    --h2:#b33315;
    --h3: #b76a25;
    --h4: #716720;
    --main-background:#ffeec4;
    --sidebar-background: #faf3d4;
    --code-background: #faf3d4;
    --strong: #242424;
    --em: #e15220;
    --code: #e15220;
    --link-text: #2a7b7d;

}