:root {
    --font: arial;

    --text: #e8edf2;
    --h1: #9f4e56;
    --h2:#d57c68;
    --h3: #f0c386;
    --h4: #96b585;
    --main-background:#272e37;
    --sidebar-background: #323a47;
    --code-background: #323a47;
    --strong: #e2e7ec;
    --em: #597a94;
    --code: #6db8c8;
    --link-text: #d57c68;

    --gradient0: #51e1e9;
    --gradient1: #54b6f8;
    --gradient2: #437cf3;
    --gradient3: #6f51f4;
    --gradient4: #9446f8;
    --gradient5: #c952ed;
    --gradient6: #e54f9b;
    --gradient7: #e3365e;

}