:root {

    --text: #cac9c9;
    --h1: #2ee2fa;
    --h2:#fede5d;
    --h3: #ff7edb;
    --h4: #ff8b39;
    --main-background:#262335;
    --sidebar-background: #241b2f;
    --code-background:#262335;
    --strong: #2ee2fa;
    --em: #00bd7e;
    --code: #c6c1f3;
    --link-text: #72f1b8;

}