:root {

    --text: #e8edf2;
    --h1: #9f4e56;
    --h2:#d57c68;
    --h3: #f0c386;
    --h4: #96b585;
    --main-background:#272e37;
    --sidebar-background: #323a47;
    --strong: #e2e7ec;
    --em: #597a94;
    --code: #6db8c8;
    --link-text: #d57c68;

}