:root {

    --text: #cac9c9;
    --h1: #00e7ff;
    --h2: #e0adde;
    --h3: #230bff;
    --h4: #eeae75;
    --main-background: #1c2127;
    --sidebar-background: #101316;
    --strong: #ff7bc5;
    --em: #00bd7e;
    --code: #c6c1f3;
    --link-text: #00e7ff;

}