:root {

    --text: #b5b9d6;
    --h1: #f88199;
    --h2:#c1f487;
    --h3: #ffa86f;
    --h4: #88afff;
    --main-background:#1c1d2b;
    --sidebar-background: #101316;
    --code-background: #101316;
    --strong: #c1f487;
    --em: #00bd7e;
    --code: #c3a4f8;
    --link-text: #09c1dc;
}