@font-face { font-family: JetBrains; src: url('jetbrains-mono-regular.ttf'); } 
:root {

    --text: #b5b9d6;
    --h1: #f88199;
    --h2:#c1f487;
    --h3: #ffa86f;
    --h4: #88afff;
    --main-background:#1c1d2bee;
    --sidebar-background: #232436dd;
    --code-background: #101316;
    --strong: #c1f487;
    --em: #00bd7e;
    --code: #469eb3;
    --link-text: #09c1dc;
    --font: 'JetBrains';
    --bg-image: url('/themes/tokyo-night.jpg');
}